CPANEL_HOST=
CPANEL_USER=
CPANEL_PASS=
# CPANEL_TOKEN=your_api_token_here  # Optional: Use API token instead of password for better security
DEFAULT_QUOTA=
XLSX_PATH=emails.xlsx
SHEET_NAME=Sheet1
VERIFY_SSL=True

DEBUG=True          # imprime el JSON completo en errores
SKIP_OK_ROWS=True   # salta filas donde la columna C sea exactamente "OK"
SKIP_AUTH_TEST=True # set to True to skip the authentication test and proceed directly